#testa{
    height: 180px;
    background-color: rgba(78,160,255,255);
    background-image: url("../imgs/pattern.png");
}

#logo{
    width: 250px;
    margin-top: 100px;
    margin-left: 20px;
}

.grey{
    color: rgba(138,138,138,255);
}

.azure{
    color: rgba(35,170,228,255);
}

.white{
    color: white;
}

.highlight{
    background-color: yellow;
}

table{
    text-align: left;
}

.bg-blue{
    background-color: rgba(32,169,229,255);
}

.bg-celeste{
    background-color: rgba(177,229,242,255);
}

.bg{
    height: 220px;
    background-repeat: no-repeat;
}

.primo-foot{
    background-image: url("../imgs/monitor.jpg");
}

.secondo-foot{
    background-image: url("../imgs/graph.jpg");
}